@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 40px;
}

input {
    outline: none !important;
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #c0bfbf;
    border-radius: 5px;
    width: 400px;
}
label {
    margin-bottom: 10px;
    display: block;
}



.hide {
    display: none !important;
}
.v_none {
    visibility: hidden !important;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.i_center {
    align-items: center;
}


.mt-3 {
    margin-top: 20px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ----------------------------------------------------------------------------------------- */
/*                                   LOGIN PAGE STARTS FROM HERE                             */
/* ----------------------------------------------------------------------------------------- */


.form {
    border-radius: 10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form_content {
    padding: 20px 100px;
    padding-bottom: 30px;
}
.form_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #c0bfbf;
    font-weight: 500;
}
.form_small_text {
    font-size: 15px;
    margin-top: 20px;
}


.form button, .btn, #profile_form button {
    padding: 10px 35px;
    font-size: 20px;
    background-color: #418ef3;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.form button {
    margin-top: 10px;
}
button:hover, .btn {
    opacity: 0.8;
}
.btn_container {
    text-align: center;
}


.link {
    color: #418ef3;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------------------------------------------- */
/*                                    HOME PAGE STARTS FROM HERE                             */
/* ----------------------------------------------------------------------------------------- */



#navbar {
    background: white;
    margin-bottom: 50px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

}
#navbar input {
    margin: 15px 0;
    border-radius: 100px;
}
#navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
}
#navbar a:hover {
    text-decoration: underline;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}
.big_news {
    grid-column: span 1 / span 1;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.big_news img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.big_news .text_container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 45px;
}
.big_news .text {
    color: white;
    font-size: 35px;
    font-weight: bold;

    margin-bottom: 10px;
}
.big_news .sup_text {
    color: white;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
}
.big_news .sub_text {
    color: white;
    font-weight: 500;
}




.datetime {
    grid-column: span 1 / span 1;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    background-color: white;
}
#clock {
    font-size: 90px;
    font-weight: 500;
}
#date {
    font-size: 25px;
    font-weight: 600;
}


.news_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}
.news_card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.news_image_container {
    position: relative;
    overflow: hidden;
    height: 130px;
    width: 100%;
    background-color: black;
}
.news_image_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
}
.news_card_content {
    padding: 10px;
}
.news_card_text {
    margin-bottom: 10px;
}
.news_card_content a {
    background-color: white;
    border-radius: 5px;
    padding: 5px 12px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.news_card_content a:hover {
    background-color: black;
    color: white;
}





.weather_container {
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    padding: 40px;
}
.weather_location {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.temperature_container {
    display: flex;
    align-items: center;

}
.temperature_icon {
    font-size: 30px;
    margin-right: 20px;
}
.temperature_icon img {
    height: 80px;
    width: 80px;
}
.temperature_container_2 {
    display: flex;
}
#temperature {
    font-size: 50px;
}
.degree_symbol {
    font-size: 30px;
    position: relative;
    top: -10px;
    font-weight: bold;
}

.sun_rise_set_container {
    display: flex;
    align-items: center;
}
.sun_rise_set_icon {
    font-size: 30px;
    margin-right: 20px;
}
.sun_rise_set_icon img {
    height: 60px;
    width: 60px;
}
.sun_rise_set_text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.sun_rise_set_time {
    font-size: 15px;
    font-weight: bold;
}




/* ----------------------------------------------------------------------------------------- */
/*                                  PROFILE PAGE STARTS FROM HERE                            */
/* ----------------------------------------------------------------------------------------- */

#profile_form {
    
}

#profile_form .header {
    font-size: 40px;
    font-weight: 500;
    border-bottom: 2px solid #c0bfbf;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#profile_form .single_line_input {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#profile_form .label {
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}
#profile_form input {
    margin-bottom: 0;
}
#profile_form .btn_container {
    /* text-align: right; */
    text-align: left;
    /* width: 40%; */
    /* margin-top: 30px; */
}